{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">Module Selection</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="col-md-4">


            <ul class="nav navbar-default">
                <li{{page == 'home' ? ' class="active"'}}><a href="{{base}}/login">Login</a></li>
                <li{{page == 'home' ? ' class="active"'}}><a href="{{base}}/">Home</a></li>

                    <li{{page == 'themes' ? ' class="active"'}}><a href="{{base}}/themes">Themes</a></li>
                    <li{{page == 'topics' ? ' class="active"'}}><a href="{{base}}/topics">Topics</a></li>

                {% if context.hasuser %}

                    <li{{page == 'themeleader' ? ' class="active"'}}><a href="{{base}}/themeleader">Theme Leader</a></li>
                    <li{{page == 'moduleleader' ? ' class="active"'}}><a href="{{base}}/moduleleader">Module Leader</a></li>
                    <li{{page == 'supervisor' ? ' class="active"'}}><a href="{{base}}/supervisor">Supervisor</a></li>
                {% endif %}

                {% if context.hasdeveloper %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developer<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{base}}/devel/hack">Run Code</a></li>
                            <li><a href="{{base}}/devel/fail">Fail</a></li>
                            <li><a href="{{base}}/devel/throw">Throw</a></li>
                            <li><a href="{{base}}/devel/mail">Test mail</a></li>
                            <li><a href="{{base}}/admin/info">PHP Info</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if context.hasadmin %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{base}}/admin/pages">Pages</a></li>
                            <li><a href="{{base}}/admin/users">Users</a></li>
                            <li><a href="{{base}}/admin/contexts">Contexts</a></li>
                            <li><a href="{{base}}/admin/roles">Roles</a></li>
                            <li><a href="{{base}}/admin/config">Config</a></li>
                        </ul>
                    </li>
                {% endif %}


            </ul>

        </div>

    </section>
{% endblock main %}

{% block footer %}

{% endblock footer %}

