{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
	Programs
{% endblock title %}


{% block pageheader %}
	<h1> Module Leader Arbitration </h1>
{% endblock pageheader %}



{% block main %}

    {% if alreadysubmitted %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ errorsubmit }}</strong>
        </div>
    {% endif %}
    {% if showerr %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ errormsg }}</strong>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            <strong>{{ successmsg }}</strong>
        </div>
    {% endif %}

        <div class="well">
            <table class="table table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Student</th>
                    <th>Theme</th>
                    <th>Theme Leader</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for s in siteinfo.students %}

                <form id="arbitrate" action="#" method="post">
                    <tr class="warning">
                        <td name ="sname" value="{{ s.login }}">
                            {{ s.login }}
                        </td>
                        <td>
                            <select name="themeselect" id="themeselect" class="form-control">
                                <option hidden value="empty">Click to select ...</option>
                                {% for th in siteinfo.themes %}
                                    {% for ch in siteinfo.choices %}
                                        {% if s.getID == ch.user_id %}
                                            {% if th.getID == ch.theme1_id %}
                                               <option value="{{ th.getID }}" >1st choice: {{ th.name }}</option>
                                            {% endif %}
                                            {% if th.getID == ch.theme2_id %}
                                                <option value="{{ th.getID }}" >2nd choice: {{ th.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="themeleader" id="themeleader" class="form-control">
                                <option hidden value="empty">Click to select ...</option>
                                {% for tl in siteinfo.themeleaders %}
                                    <option value="{{ tl.getID }}" >{{ tl.login }}</option>
                                {%  endfor %}
                            </select>
                        </td>

                        <td><button type="submit" value="{{ s.getID }}" name="submitbutton" class="btn btn-info" data-dismiss="modal">Confirm</button></td>

                    </tr>
                </form>
                {%  endfor %}
                </tbody>

            </table>

        </div>



{% endblock main %}


{% block pagefooter %}
{% endblock pagefooter %}


{% block footer %}
{% endblock footer %}
