{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% macro tick(val, class) %}
<i class="{{class}} fa fa-toggle-{% if val %}on{% else %}off{% endif %}"></i>
{% endmacro tick %}

{% import _self as h %}

{% block scripts %}
    <script src="{{fwurls.parsley}}"></script>
    <script src="{{assets}}/js/util.js"></script>
    <script src="{{assets}}/js/bgfade.js"></script>
{% endblock scripts %}

{% block onload %}

	$('#topictab').on('click', function(e){
	var x = $(e.target)
	if (x.hasClass('delb'))
	{
	e.preventDefault();
	e.stopPropagation();
	bootbox.confirm('Are you sure you you want to delete this user?', function(r){
	if (r)
	{ // user picked OK
	var tr = x.parent().parent()
	$.post('{{base}}/ajax.php', {
	op:	'delbean',
	bean: 'topic',
	id: tr.data('id')
	},
	function(data){
	tr.css('background-color', 'red').fadeOut(1500, function(){ tr.remove() })
	}
	)
	}
	})
	}
	else if (x.hasClass('editb'))
	{
	var tr = x.parent().parent()
	window.location.href = '{{base}}/admin/edit/theme/' + tr.data('id');
	}

	})
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1>Topics</h1>

    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-striped table-hover" id="topictab">
                <thead>
                    <tr>
                        <th>Topic Name</th>
						<th>Description</th>
						<th>Theme</th>

						<th colspan="2">&nbsp;</th>

					</tr>

                </thead>


		{% if fltrtheme is defined %}

			<tbody>
            {% for pr in siteinfo.topics %}
			    {% if pr.theme_id == fltrtheme %}
					<tr data-id=" {{ pr.id }} ">
						<td>{{ pr.name }}</td>
						<td>{{ pr.description }}</a></td>
                        {% for th in siteinfo.themes %}
                            {% if th.id == pr.theme_id and th.id == fltrtheme %}
								<td>{{ th.name }}</td>
                            {%  endif %}
                        {%  endfor %}
						<th colspan="2">&nbsp;</th>
                        {% if context.hasadmin %}
							<td><i class="delb fa fa-trash-o"></i></td>
                        {% endif %}

				    </tr>
				{% endif %}

            {% else %}
				<tr><td colspan="4">No topics are defined</td></tr>
            {% endfor %}
			</tbody>
		{% else %}

			<tbody>
            {% for pr in siteinfo.topics %}
				<tr data-id=" {{ pr.id }} ">
					<td>{{ pr.name }}</td>
					<td>{{ pr.description }}</a></td>

                    {% for th in siteinfo.themes %}
                        {% if th.id == pr.theme_id %}
							<td>{{ th.name }}</td>
                        {%  endif %}
                    {%  endfor %}
					<th colspan="2">&nbsp;</th>
                    {% if context.hasadmin %}
						<td class="danger"><i class="delb fa fa-trash-o"></i></td>
                    {% endif %}

				</tr>
            {% else %}
				<tr><td colspan="4">No topics are defined</td></tr>
            {% endfor %}
			</tbody>

		{% endif
		%}




            </table>
	    {#<p><button class="btn btn-primary" data-toggle="modal" data-target="#addu" type="button">Add Topic</button></p>#}
			<button type="button" data-toggle="modal" data-target="#addu" class="btn btn-primary btn-lg btn-block btn-success">Add Topic</button>

		</div>
    </div>


	<!-- START MODAL -->

	<div class="modal fade" id="addu" tabindex="-1" role="dialog" aria-labelledby="Add User" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    <h4 class="modal-title" id="myModalLabel">Add Topic</h4>
                </div>
                <div class="modal-body">

	            <form id="addtopicform" action="#" method="post">

			<div class="form-group">
				<label for="un" class="control-label">Topic Name</label>
				<input type="text" id="un" name="topicname" placeholder="Topic name - alphanumeric characters only" class="form-control" required="required"/>
			</div>

			<div class="form-group">
				<label for="un" class="control-label">Topic Description</label>
				 {{ f.textarea( {name: 'description', ph: 'Topic description', required: true}) }}
			</div>
			<div class="form-group">
				<label for="un" class="control-label">Theme</label>

				<select name="selectthemes[]" id="selecttopic" multiple class="form-control">
					{%  for th in siteinfo.themes %}
						{#ASK LINDSAY -- HOW TO USE SELECT!?!?!?!??!#}
					{#{{ f.select({name: 'selecttopic', label: 'Topic', value: pr, ph: 'Topic', required: 1, text: 'work'}) }}#}
					    <option value="{{ th.getID }}" >{{ th.name }}</option>
					{% endfor %}

				</select>
			</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn-success btn btn-primary" id="addb">Add</button>
                </div>
				</form>

			</div>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
